<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ruby on Rails Tutorial Sample App | Home</title>
	<link rel="stylesheet" href="">
</head>
<body>

	<h1>Sample App</h1>
	<p>
	This is the home page for the
		<a href="http://railstutorial.jp">Ruby on Rails Tutorial</a>
	sample application.	
	
	Find me in app/views/static_pages/home.html.erb
	</p>

</body>
</html>
